/* Frame3 */

@import url("https://fonts.googleapis.com/css2?family=Red Hat Text:wght@400&display=swap");

p {
  margin: 0;
}
.row-2 {
    top: 10%;
    left: 11%;
}
.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-vend-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.frame-3 {
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 544px;
  height: 75px;
}

.group-378 {
  width: 100%;
  height: 100%;
}

.frame-12 {
  margin-top: 2%;
  padding: 0px 29px 0px 9px;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 30px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    ),
    linear-gradient(0deg, rgba(196, 196, 196, 1), rgba(196, 196, 196, 1)),
    url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/e7dja2immz-118%3A89?alt=media&token=af8f9a30-9644-4043-b8fa-ead5cd40642d);
  background-size: 100% 100%;
  height: fit-content;
}

.el-search-alt {
  width: 56px;
  margin-right: 11px;
  height: 100%;
}

.txt-746 {
  font-size: 20.79px;
  font-family: Red Hat Text, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 229px;
  height: 37px;
  word-wrap: break-word;
}

.group-757 {
  padding: 10px 13px 8px 13px;
  margin-right: 8px;
  box-sizing: border-box;
  background-color: rgba(196, 196, 196, 1);
  width: 90px;
  height: 100%;
}

.bi-calculator-fill {
  width: 100%;
  height: 100%;
}

.rectangle-6 {
  background-color: rgba(196, 196, 196, 1);
  width: 90px;
  height: 100%;
}

.bx-barcode-reader {
  position: absolute;
  top: 8px;
  left: 465px;
  width: 67px;
  height: 67px;
}
