/* Frame15 */

@import url("https://fonts.googleapis.com/css2?family=Red Hat Text:wght@400&display=swap");

p {
  margin: 0;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.product-column {
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    border-style: none;
    top: 46%;
    height: 50%;
    width: 33.5%;
    left: 5.5%;
    position: absolute;
}
.frame-15 {
  background-color: rgba(196, 196, 196, 1)!important;
  position: relative;
  background: url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/y9nn4luvfk-118%3A87?alt=media&token=dc27f50f-1f50-403c-9109-646035089e9e);
  width: auto;
  background-size: contain;
  height: auto;
  background-repeat: no-repeat;
}

.rectangle-30 {
  position: absolute;
  bottom:0;
  left: 0px;
  background-color: rgba(196, 196, 196, 1);
  height: 23px;
  width: 100%;
}

.txt-138 {
  position: absolute;
  bottom: 0;
  line-height: 2;
  left: 0px;
  font-size: 13.79px;
  font-family: Red Hat Text, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 131px;
  height: 25px;
  word-wrap: break-word;
}
