@import url("https://fonts.googleapis.com/css2?family=Red Hat Text:wght@400&display=swap");
/* Header */
p {
  margin: 0;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.frame-2 {
  position: relative;
  padding: 0px 62px 0px 0px;
  box-sizing: border-box;
  border-radius: 6px;
  width: 540px;
  height: 72px;
}

.frame-11 {
  padding: 0px 0px 15.16px 0px;
  box-sizing: border-box;
  height: 100%;
}

.group-694 {
  left: 55%;
  position: relative;
  padding: 8px 86px 7px 55px;
  box-sizing: border-box;
  border-radius: 19.73px;
  background-color: rgba(242, 241, 255, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 343px;
  height: 58px;
}

.txt-6100 {
  font-size: 29.79px;
  font-family: Red Hat Text, sans-serif;
  font-weight: 400;
  color: rgba(51, 9, 9, 1);
  width: 202px;
  height: 43px;
  word-wrap: break-word;
}

.frame-10 {
  position: absolute;
  top: 0px;
  left: -6px;
  width: 91.69px;
  height: 58px;
}